In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = pd.DataFrame({"Total Players" : purchase_data['SN'].nunique()}, index = [0])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Create summary table
purchasing_summary = pd.DataFrame(
{"Number of Unique Items" : [purchase_data['Item ID'].nunique()],
"Average Price" : [purchase_data['Price'].mean()],
"Number of Purchases" : [purchase_data['Purchase ID'].nunique()],
"Total Revenue" : [purchase_data['Price'].sum()]
})

# Format summary table
purchasing_summary[["Average Price", "Total Revenue"]] = purchasing_summary[["Average Price", "Total Revenue"]].applymap("${:,.2f}".format)

# Display summary table
purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Drop duplicate entries
no_duplicates = purchase_data.drop_duplicates(["SN"])

# Create gender summary table
gender_summary = pd.DataFrame({ 
    "Total Players" : no_duplicates["Gender"].value_counts(),
    "Percentage of Players" : (no_duplicates["Gender"].value_counts() / no_duplicates["Gender"].value_counts().sum()) * 100
    })

# Format
gender_summary['Percentage of Players'] = gender_summary['Percentage of Players'].map("{:.2f}%".format)

# Print summary table
gender_summary

                       Total Players Percentage of Players
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Group by gender and calculate total purchases, average price, and total purchases by gender
purchase_analysis_summary = purchase_data.groupby('Gender').agg({
    'Purchase ID':{'Total Purchases':'count'},
    'Price':{'Average Purchase Price':'mean','Total Purchase Value':'sum'}
    })

# Drop the 0 level header to prepare for rename
purchase_analysis_summary.columns = purchase_analysis_summary.columns.droplevel(0)

# Calculate average total purchase per person and add to summary table
purchase_analysis_summary['Avg Total Purchase per Person'] = purchase_analysis_summary['Total Purchase Value'] / no_duplicates["Gender"].value_counts()

# Format
purchase_analysis_summary[['Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']] = purchase_analysis_summary[['Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']].applymap("${:,.2f}".format)

# Print summary table
purchase_analysis_summary

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

,Total Purchases,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, purchase_data['Age'].max()]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [7]:
# Add column to no_duplicates df with binned ages
no_duplicates['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)

# Create sumarry table for total bin counts
age_demo_summary = no_duplicates.groupby('Age Group').agg({'Age Group':'count'})

# Add column to summary table with percentage of players for each age bin
age_demo_summary['Percentage of Players'] = (age_demo_summary['Age Group'] / len(no_duplicates)) * 100

# Rename count column
age_demo_summary = age_demo_summary.rename(columns={'Age Group' : 'Total Count'})

# Format
age_demo_summary['Percentage of Players'] = age_demo_summary['Percentage of Players'].map("{:.2f}%".format)

# Print summary table
age_demo_summary

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Add column to purchase_data with binned ages
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)

# Create groupby table with Age Group
purchase_analysis_age = purchase_data.groupby('Age Group').agg({
    'Purchase ID':{'Total Purchases':'count'},
    'Price':{'Average Purchase Price':'mean','Total Purchase Value':'sum'}
    })

# Drop the 0 level headers
purchase_analysis_age.columns = purchase_analysis_age.columns.droplevel(0)

# Add column for avergate total purchases per person
purchase_analysis_age['Avg Total Purchase per Person'] = purchase_analysis_age['Total Purchase Value'] / no_duplicates['Age Group'].value_counts()

# Format
purchase_analysis_age[['Average Purchase Price', 'Total Purchase Value','Avg Total Purchase per Person']] = purchase_analysis_age[['Average Purchase Price', 'Total Purchase Value','Avg Total Purchase per Person']].applymap("${:,.2f}".format)

# Print summary table
purchase_analysis_age

,Total Purchases,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create groupby table for SN group with purchase counts and total purchase values
top_spenders = purchase_data.groupby('SN').agg({
    'SN':{'Purchase Count':'count'},
    'Price':{'Total Purchase Value':'sum'}})

# Remove subheaders
top_spenders.columns = top_spenders.columns.get_level_values(1)

# Calculate average purchase price
avg_purchase_price = top_spenders['Total Purchase Value'] / top_spenders['Purchase Count']

# Add column to index 1 position
top_spenders.insert(loc=1, column='Average Purchase Price', value=avg_purchase_price)

# Sort by total purchase value and only show the top 5
top_spenders = top_spenders.nlargest(5, 'Total Purchase Value')

# Format
top_spenders[['Average Purchase Price', 'Total Purchase Value']] = top_spenders[['Average Purchase Price', 'Total Purchase Value']].applymap("${:,.2f}".format)

# Print table
top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group by item ID
most_popular = purchase_data.groupby(['Item ID','Item Name']).agg({
    'Item ID':{'Purchase Count':'count'},
    'Price':{'Item Price':'max', 'Total Purchase Value':'sum'}
    })

# Remove subheaders
most_popular.columns = most_popular.columns.get_level_values(1)

# Sort by purchase count and only show the top 5
most_popular_top5 = most_popular.nlargest(5, 'Purchase Count')

# Format
most_popular_top5[['Item Price', 'Total Purchase Value']] = most_popular_top5[['Item Price', 'Total Purchase Value']].applymap("${:,.2f}".format)

# Print summary table
most_popular_top5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort by total purchase value, top 5
most_profitable_top5 = most_popular.nlargest(5, 'Total Purchase Value')

# Format
most_profitable_top5[['Item Price', 'Total Purchase Value']] = most_profitable_top5[['Item Price', 'Total Purchase Value']].applymap("${:,.2f}".format)

# Print summary table
most_profitable_top5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

## Observable Trends

1. Many more male players than females or other.
2. The average total purchase value per person is similar for all genders.
3. A majority of the players are in the 15-29 age group, with 20-24 containing the greatest majority.
4. Oathbreaker and Nirvana are both the most popular and profitable items.

##