In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = pd.DataFrame({"Total Players" : purchase_data['SN'].nunique()}, index = [0])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Create summary table
purchasing_summary = pd.DataFrame(
{"Number of Unique Items" : [purchase_data['Item ID'].nunique()],
"Average Price" : [purchase_data['Price'].mean()],
"Number of Purchases" : [purchase_data['Purchase ID'].nunique()],
"Total Revenue" : [purchase_data['Price'].sum()]
})

# Format summary table
purchasing_summary[["Average Price", "Total Revenue"]] = purchasing_summary[["Average Price", "Total Revenue"]].applymap("${:,.2f}".format)

# Display summary table
purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Drop duplicate entries
no_duplicates = purchase_data.drop_duplicates(["SN"])

# Create gender summary table
gender_summary = pd.DataFrame({ 
    "Total Players" : no_duplicates["Gender"].value_counts(),
    "Percentage of Players" : (no_duplicates["Gender"].value_counts() / no_duplicates["Gender"].value_counts().sum()) * 100
    })

# Format
gender_summary['Percentage of Players'] = gender_summary['Percentage of Players'].map("{:.2f}%".format)

# Print summary table
gender_summary

                       Total Players Percentage of Players
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Group by gender and calculate total purchases, average price, and total purchases by gender
purchase_analysis_summary = purchase_data.groupby('Gender').agg({
    'Purchase ID':'count',
    'Price':['mean','sum']
    })

# Drop the 0 level header to prepare for rename
purchase_analysis_summary.columns = purchase_analysis_summary.columns.droplevel(0)

# Rename columns
purchase_analysis_summary = purchase_analysis_summary.rename(columns={
    'count' : 'Total Purchases', 
    'mean' : 'Average Purchase Price',
    'sum' : 'Total Purchase Value'
    })

# Calculate average total purchase per person and add to summary table
purchase_analysis_summary['Avg Total Purchase per Person'] = purchase_analysis_summary['Total Purchase Value'] / no_duplicates["Gender"].value_counts()

# Format
purchase_analysis_summary[['Average Purchase Price', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']] = purchase_analysis_summary[['Average Purchase Price', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']].applymap("${:,.2f}".format)

# Print summary table
purchase_analysis_summary

,Total Purchases,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
# Create bins and labels
bins = [0,9,14,19,24,29,34,39,purchase_data['Age'].max()]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [28]:
# Add column to no_duplicates df with binned ages
no_duplicates['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)

# Create sumarry table for total bin counts
age_demo_summary = no_duplicates.groupby('Age Group') .agg({'Age Group':'count'})

# Add column to summary table with percentage of players for each age bin
age_demo_summary['Percentage of Players'] = (age_demo_summary['Age Group'] / len(no_duplicates)) * 100

# Rename count column
age_demo_summary = age_demo_summary.rename(columns={'Age Group' : 'Total Count'})

# Format
age_demo_summary['Percentage of Players'] = age_demo_summary['Percentage of Players'].map("{:.2f}%".format)

# Print summary table
age_demo_summary

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame